venv
.venv
__pycache__
.DS_STORE
**/.DS_STORE

raw_data


*.ts
*.zip
./__pycache__

evaluation/baseline/models/
evaluation/baseline/datasets/
data/
.vscode/settings.json
baseline_test_results*.json
evaluation/baseline/logs/
